
.container {
  max-width: 1200px;
  height: 425px;  
  margin: auto;
  margin-top: 10px;  
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav img {
    cursor: pointer;
  }

.back {
  background-color: transparent;
  color: #0067ff;
  border: none;
  font-size: 18px;
}
 
.title {
  text-align: center;
}

.hidden {
  opacity: 0;
}

.chatInput {
  z-index: 10;
  margin: auto;
  width: 880px;
  justify-content: center;
  display: flex;
  box-shadow: 4px -1px 25px -3px rgba(153, 153, 153, 1);
  padding: 10px 10px;
}

.chatInput input {
  border: none;
  flex: 1;
  padding-left: 10px;
  font-size: 18px;
  outline: none;
}

.chatInput img {
  width: 50px;
  cursor: pointer;
  padding-right: 5px;
  background: transparent;
}
